@import "../../../public/index.scss";

.landing-header {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 12vh 1rem 0 1rem;
  min-height: 6rem;

  color: #332101;

  @media only screen and (min-width: 478px) {
    flex-direction: row;
    justify-content: space-between;

    margin: 0 4rem;
  }

  @media only screen and (min-width: 768px) {
    margin: 0 12rem;
  }
}

.landing__logo {
  font-size: 3.25rem;
}

.landing__links {
  font-family: "Noto Sans", sans-serif;
  font-size: 2rem;

  display: flex;
  justify-content: space-between;

  & > a {
    text-decoration: none;
    color: #332101;
  }

  & > a:nth-child(2)::before,
  & > a:nth-child(2)::after {
    content: "|";
    margin: 0 1.5rem 0 1.5rem;
  }
}
