@import "../../../public/index.scss";

.landing-body {
  margin: 2rem 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;

  display: flex;
  flex-direction: column;

  min-height: 60vh;

  @media only screen and (min-width: 768px) {
    padding: 0 4rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.landing-body__image {
  margin: 4rem auto;
  transform: rotateZ(-4deg);
  width: 50%;
  max-width: 28rem;

  @media only screen and (min-width: 768px) {
    max-width: 40rem;
  }

  & > img {
    width: 100%;
  }
}

.landing-body__form {
  margin: 0 auto;
  width: 100%;
  font-size: 2rem;

  @media only screen and (min-width: 768px) {
    width: 50%;
  }

  & > form {
    & > div {
      position: relative;
      margin: 2.5rem auto;
      width: 80%;
      max-width: 80rem;
    }

    label {
      position: absolute;
      left: 2em;
      background-color: #fff;
      font-size: 1.4rem;

      letter-spacing: 0.15em;
      transition: all 0.5s;
    }

    & input {
      margin: 0.5em 0;
      padding: 1.4rem 2rem;
      width: 100%;

      color: #332101;
      border: 0.05px solid currentColor;
      border-radius: 4px;

      &:focus {
        outline: none;
        color: burlywood;
      }

      &:focus ~ label {
        outline: none;
        color: burlywood;
        transform: translateY(4.2em);
      }
    }

    & button {
      width: 80%;
      max-width: 40rem;
      display: block;
      margin: 0 auto;
      padding: 0.8em 1em;
      border-radius: 4px;
      border: none;
      background-color: #332101;
      color: #fff;
      font-size: 2rem;
      font-weight: 600;
      letter-spacing: 0.2em;
      box-shadow: 0 16px 12px rgba(0, 0, 0, 0.25);
      transition: all 0.2s;

      &:hover {
        background-color: burlywood;
        cursor: pointer;
      }

      &:active {
        box-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);
        transform: translateY(0.5rem);
      }
    }
  }
}
