@import "../../../public/index.scss";

.landing-body {
  font-family: "Noto Sans", sans-serif;
}

.landing-body__form {
  margin: 3.5rem auto;
  font-size: 2rem;

  & > form {
    & > div {
      position: relative;
      margin: 2.5rem auto;
      width: 80%;
    }

    label {
      position: absolute;
      left: 2em;
      background-color: #fff;
      font-size: 1.4rem;

      letter-spacing: 0.15em;
      transition: all 0.5s;
    }

    & input {
      margin: 0.5em 0;
      padding: 1.4rem 2rem;
      width: 100%;

      color: #332101;
      border: 0.05px solid currentColor;
      border-radius: 4px;

      &:focus {
        outline: none;
        color: burlywood;
      }

      &:focus ~ label {
        outline: none;
        color: burlywood;
        transform: translateY(4.2em);
      }
    }
  }
}
