@import "../../../public/index.scss";

.menu {
  border-radius: 100%;
  width: 5rem;
  height: 5rem;
  margin: 0 1.5rem;
  padding: 1.5rem;
  position: relative;
  transition: all 0.2s;

  &__hamburger {
    width: 2.5rem;
    height: 0.05rem;
    background-color: $default-color;
    position: absolute;
    transition: all 0.5s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);

    &::before {
      content: "";
      background-color: $default-color;
      width: inherit;
      height: inherit;
      position: absolute;
      top: 0.5rem;
    }

    &::after {
      content: "";
      background-color: $default-color;
      width: inherit;
      height: inherit;
      position: absolute;
      bottom: 0.5rem;
    }
  }

  &:hover {
    background-color: rgb(237, 237, 237);
    cursor: pointer;
  }

  &:hover > &__hamburger::before {
    transform: translateY(0.2rem);
  }

  &:hover > &__hamburger::after {
    transform: translateY(-0.2rem);
  }
}
