@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;400;500&display=swap");

// General colors
$default-color: #333333;
$primary-color: #e6a770;
$border-color: #00000033;
$hover-color: #ededed;

// Event colors
$event-color-1: #e2a601;
$event-color-2: #dd5e89;
$event-color-3: #4389a2;
$event-color-4: #2bc0e4;
$event-color-5: #12d8fa;

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;

  @media only screen and (max-width: 1200px) {
    font-size: 58%;
  }

  @media only screen and (max-width: 995px) {
    font-size: 55%;
  }

  @media only screen and (max-width: 900px) {
    font-size: 52%;
  }
}
