@import "../../../public/index.scss";
$border-color: #00000033;
$hover-color: #ededed;

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, minmax(16rem, 1fr));
  grid-auto-rows: minmax(16rem, 1fr);
  grid-gap: 0.5rem;
  margin: 2rem 3rem;
  font-family: "Noto Sans", sans-serif;

  &__cell {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    border: 0.1px solid $border-color;
    border-radius: 8px;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.2s;

    &:hover {
      cursor: pointer;
      box-shadow: 0px 12px 8px rgba(0, 0, 0, 0.2);
    }
  }

  &__day {
    display: inline-block;
    background-color: #5e7a6e;
    border-radius: 8px 8px 0 0;
    width: 100%;
    text-align: center;
    padding: 0.5rem;
    font-size: 1.6rem;
    font-weight: 400;
    color: #fff;
  }

  &__month {
    font-size: 2rem;
    font-weight: 400;
  }
}
