@import "../../../public/index.scss";

.calendar {
  display: grid;
  grid-template-columns: repeat(7, minmax(10rem, 24rem));
  grid-template-rows: repeat(5, minmax(16rem, 1fr));
  grid-auto-rows: minmax(16rem, 1fr);
  grid-gap: 0.5rem;
  margin: 2rem 3rem;
  font-family: "Noto Sans", sans-serif;

  &__cell {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    border: 0.1px solid $border-color;
    border-radius: 8px;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.2s;

    &:hover {
      cursor: pointer;
      box-shadow: 0px 12px 8px rgba(0, 0, 0, 0.2);
    }

    &:active {
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
      transform: translateY(2.5px);
    }
  }

  &__day {
    display: inline-block;
    background-color: $primary-color;
    border-radius: 8px 8px 0 0;
    width: 100%;
    text-align: center;
    padding: 0.5rem;
    font-size: 1.4rem;
    font-weight: 400;
    color: #fff;
  }

  &__month {
    font-size: 1.5rem;
    font-weight: 400;
    width: 2.6rem;
    height: 2.6rem;
    text-align: center;
    border-radius: 100%;
    margin-top: 0.5rem;
  }

  // Events
  &__event {
    width: 90%;

    & > div {
      font-size: 1.2rem;
      font-weight: 400;

      margin: 0.5rem 0;
      padding: 0.1rem 0;

      text-align: center;
      border-radius: 4px;

      background-color: $event-color-1;
      color: #fff;
    }
  }
}
