@import "../../../public/index.scss";

body {
  font-family: "Pacifico", cursive;
  font-size: 2.8rem;
  font-weight: bold;

  @media only screen and (max-width: 400px) {
    font-size: 2.4rem;
  }
}

.header {
  display: flex;
  align-items: center;
  color: $default-color;
  padding: 0.8rem;
  border-bottom: 0.1px solid $border-color;

  & > span {
    cursor: default;
  }
}
