@import "../../../public/index.scss";

$border-color: #00000033;

body {
  font-family: "Pacifico", cursive;
  font-size: 2.8rem;
  font-weight: bold;
}

.header {
  display: flex;
  align-items: center;
  color: $primary-color;
  padding: 0.8rem;
  border-bottom: 0.1px solid $border-color;
}
