@import "../../../public/index.scss";
$border-color: #00000033;
$hover-color: #ededed;

.event-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 45rem;
  // height: 40vh;
  border-radius: 8px;
  box-shadow: 4px 12px 16px rgba(0, 0, 0, 0.2);

  background-color: #fff;

  // Header and Header Buttons
  &__header {
    width: 100%;
    height: 4rem;
    border-radius: 8px 8px 0 0;
    background-color: $primary-color;
  }

  &__menu-btn {
    width: 4rem;
    height: 4rem;
    padding: 0.5rem;

    position: absolute;
    top: 0;
    left: 2rem;

    & > span {
      position: absolute;
      top: 1.8rem;
      left: 0.8rem;

      width: 2.5rem;
      height: 0.08rem;
      background-color: #fff;

      &::before {
        content: "";
        position: absolute;
        top: 0.5rem;

        width: inherit;
        height: inherit;
        background-color: #fff;
      }
    }

    &:hover > span,
    &:hover > span::before {
      background-color: #000;
      cursor: pointer;
    }
  }

  &__close-btn {
    width: 4rem;
    height: 4rem;
    padding: 0.5rem;

    position: absolute;
    top: 0;
    right: 2rem;

    & > span {
      position: absolute;
      top: 2.1rem;
      right: 1rem;

      width: 2rem;
      height: 0.08rem;
      background-color: #fff;
      transform: rotate(45deg);

      &::before {
        content: "";
        position: absolute;

        width: inherit;
        height: inherit;
        background-color: inherit;
        transform: rotate(90deg);
      }
    }

    &:hover > span,
    &:hover > span::before {
      background-color: #fff;
      cursor: pointer;
    }
  }

  // Form
  &__form {
    display: grid;
    grid-template-columns: 1fr 80%;

    & > button {
      grid-column: 2 / 3;
      justify-self: right;

      width: 8rem;
      margin: 2rem 0;
      margin-right: 8rem;

      border: none;
      padding: 1rem;

      background-color: $primary-color;
      color: #fff;
      font-weight: bold;

      border-radius: 4px;

      cursor: pointer;

      box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
      transition: transform 0.2s;

      &:hover {
        background-color: darken($color: $primary-color, $amount: 10);
      }

      &:focus {
        outline: none;
      }

      &:active {
        box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.2);
        transform: translateY(4px);
      }
    }
  }

  &__field {
    // Title and description fields
    & > input {
      width: 80%;
      height: 4rem;

      margin: 1.5rem 0;
      padding: 0.5rem;

      border: none;
      border-bottom: 2.5px solid #cecccc;

      font-size: 1.6rem;
      font-family: "Noto Sans", sans-serif;
      color: $default-color;

      &:focus {
        outline: none;
      }
    }

    & > span {
      display: inline-block;
      border: none;

      font-family: "Noto Sans", sans-serif;
      font-size: 1.5rem;

      margin-bottom: 2rem;
      color: lighten($color: $default-color, $amount: 20);
    }
  }

  &__icon {
    align-self: center;
    justify-self: center;
    font-size: 2.2rem;
    color: #6e6e6e;
  }
}
