@import "../../../public/index.scss";
$border-color: #00000033;
$hover-color: #ededed;

.event-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 45rem;
  height: 40vh;
  border-radius: 8px;
  box-shadow: 4px 12px 16px rgba(0, 0, 0, 0.2);

  background-color: #fff;

  &__header {
    width: 100%;
    height: 4rem;
    border-radius: 8px 8px 0 0;
    background-color: #5e7a6e66;
  }

  &__menu-btn {
    width: 4rem;
    height: 4rem;
    padding: 0.5rem;

    position: absolute;
    top: 0;
    left: 2rem;

    & > span {
      position: absolute;
      top: 1.8rem;
      left: 0.8rem;

      width: 2.5rem;
      height: 0.08rem;
      background-color: #6e6e6e;

      &::before {
        content: "";
        position: absolute;
        top: 0.5rem;

        width: inherit;
        height: inherit;
        background-color: #6e6e6e;
      }
    }

    &:hover > span,
    &:hover > span::before {
      background-color: #000;
      cursor: pointer;
    }
  }

  &__close-btn {
    width: 4rem;
    height: 4rem;
    padding: 0.5rem;

    position: absolute;
    top: 0;
    right: 2rem;

    & > span {
      position: absolute;
      top: 2.1rem;
      right: 1rem;

      width: 2rem;
      height: 0.08rem;
      background-color: #6e6e6e;
      transform: rotate(45deg);

      &::before {
        content: "";
        position: absolute;

        width: inherit;
        height: inherit;
        background-color: inherit;
        transform: rotate(90deg);
      }
    }

    &:hover > span,
    &:hover > span::before {
      background-color: #000;
      cursor: pointer;
    }
  }
}
