@import "../../../public/index.scss";

footer {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  color: #8f8f8f;
  margin: 4rem auto 0 auto;
  padding: 2.5rem;
}
