@import "../../../public/index.scss";
$border-color: #00000033;
$hover-color: #ededed;

.nav {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  margin-inline: 2.5rem 1rem;

  &__left {
    display: flex;
    align-items: center;
  }

  &__month {
    // Padding and Margin
    margin-inline: 1rem;
    margin-block-start: 0.2rem;
    padding: 0rem 1.8rem;
    font-size: 2.4rem;
  }

  &__today {
    // Border
    border: 1px solid $border-color;
    border-radius: 8px;

    // Padding and Margin
    margin-inline: 2.5rem;
    padding: 1rem 1.8rem;

    // Hover
    &:hover {
      background-color: $hover-color;
    }
  }

  &__controls {
    margin-block: 0.9rem 0;

    & > span {
      position: relative;
      display: inline-block;
      padding: 1rem;
      border-radius: 100%;
      width: 3.5rem;
      height: 3.5rem;
    }

    .icon--prev,
    .icon--next {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &--previous:hover,
    &--next:hover {
      background-color: $hover-color;
      cursor: pointer;
    }
  }

  &__format {
    position: relative;
    border: 1px solid $border-color;
    border-radius: 8px;

    margin-inline: 2.5rem;
    padding: 1rem 2.5rem 1rem 1.8rem;

    &:hover {
      background-color: $hover-color;
    }

    & > span {
      position: absolute;
      top: 1.2rem;
      width: 3rem;
      margin-inline-start: 0.5rem;
    }
  }
}
